<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="..." ng-model="search">
    </div>
  </div>
</div><!-- /.col-lg-6 -->
<div class="row">
    <div class="col-md-4">
       <a href="#/books" class="btn btn-primary"> Get Books</a>
      <a href="#/allBooks" class="btn btn-primary"> View All</a>
    </div>
</div>
<hr />
<div class="row">
  <div class="col-md-4">
    <input type="text" class="form-control" aria-label="..." ng-model="bookTitle">
    <input type="text" class="form-control" aria-label="..." ng-model="bookAuthor"> 
  </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="#/addBook" class="btn btn-primary"> Add Book</a>
    </div>
    <div class="col-md-8"></div>
</div>




